
ion-content ion-card{
    width: 100%;
    margin: 10px;
  }
  
  ion-item {
    --padding-start: 0;
  }

  .asuetoimg{
    clear: left;
    float: left;
    width: 4%;
    margin-right: 5px;
  }

  .nombreus{
    font-size: 11px;
  }


  