ion-col {
    display: block;
    margin: auto;
    text-align: center;
  }

  .numeros {
    background-color: #b8cceb;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 17px; 
    
    margin-right: 3px;
    color: #201f1f;
    border-radius: 50%;
    font-size: 26px;
  }

  .numeros2 {
    background-color: #b8cceb;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 17px;
    padding-bottom: 17px; 
    
    margin-right: 3px;
    color: #201f1f;
    border-radius: 50%;
    font-size: 26px;
  }

  .letras {
    background-color: #fefefe;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px; 
    padding-left: 9px;
    margin-right: 3px;
    color: #282525;
    border-radius: 15px;
    font-size: 14px;
  }

  .ok {
    background-color: #00A86B;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px; 
    padding-left: 9px;
    margin-right: 3px;
    color: #ffffff;
    border-radius: 15px;
    font-size: 14px;
  }

  .limpiar {
    background-color: #f99e4c;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px; 
    padding-left: 9px;
    margin-right: 3px;
    color: #ffffff;
    border-radius: 15px;
    font-size: 14px;
  }