

  ion-col {
    display: block;
    margin: auto;
  }
  
  .sexo{
    font-size: 15px;
    font-weight:normal;
    color: black;
  }

  .multas{
    margin-left: 5px;
    background-color: #FFCED4;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #D0011B;
    border-radius: 15px;
    font-size: 10px;
  }

  .faltas{
    margin-left: 5px;
    background-color: #e7fdbd;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #67803b;
    border-radius: 15px;
    font-size: 10px;
  }